:root {
  --deep-night-blue: #111B23;
  --light-blue-grey: #B7C9E2;
}

html {
  background-color: var(--deep-night-blue);
  color: var(--light-blue-grey);
}
aside {
  border-top: 1em solid var(--light-blue-grey);
}
.redacted{
  text-decoration: line-through;
}

/*
header {
  background-color: var(--deep-night-blue);
  color: var(--light-blue-grey);
}

main {
  background-color: var(--deep-night-blue);
  color: var(--light-blue-grey);
}

footer {
  background-color: var(--deep-night-blue);
  color: var(--light-blue-grey);
}
*/
