:root {
  --deep-night-blue: #111B23;
  --light-blue-grey: #B7C9E2;
  --disabled-grey: #888888;
  --charcoal-black: #212121;
  --charcoal-black: #212121;
  --dusky-grey: #A19A96;
  --medium-sapphire: #0F52BA;
  --medium-gunmetal: #2A3439;

  --bg-color-1: var(--deep-night-blue);
  --fg-color-1: var(--light-blue-grey);
  --border-color-1: var(--medium-sapphire);
    
  --theme-font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  --theme-border: .1rem solid var(--border-color-1);
}

html {
  background-color: var(--bg-color-1);
  color: var(--fg-color-1);
  font-family: var(--theme-font-family);
}

h2 {
  border-bottom: var(--theme-border);
}

aside {
  border-top: var(--theme-border);
}

.redacted {
  text-decoration: line-through;
}

.disabled-link {
  pointer-events: none;        /* Disables the click event */
  cursor: default;             /* Prevents the pointer cursor */
  opacity: 0.6;                /* Visual cue that it's inactive */
  color: var(--disabled-grey); /* Gray out the text color */
}
